@use '../../utils/callables/functions' as fn;
@use '../../utils/callables/extensions' as ext;

%_cross{
    width: 55%;
    content: '';
    height: fn.px2rem(1px);
    @extend %position_center;
    background-color: currentColor;
}
.button {
    border: none;
    &:not(&-times){
        border-radius: var(--radius-sm);
    }

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &-type-1 {
        outline: fn.px2rem(2px) solid currentColor;
        background: none !important;
    }

    &-block {
        @extend %full_width;
    }

    &-times{
        $_angle: 45deg;

        width: fn.px2rem(27px);
        height: fn.px2rem(27px);
        @extend %position_relative, %round_corner;
        &:before {
            transform: rotate($_angle);
            @extend %_cross, %position_absolute;
        }

        &:after {
            transform: rotate(-$_angle);
            @extend %_cross, %position_absolute;
        }
    }
}
