@use '../../utils/callables/functions' as fn;
@use '../../utils/callables/extensions' as ext;

%_cross{
    width: 60%;
    content: '';
    height: fn.px2rem(1px);
    @extend %position_center;
    background-color: currentColor;
}
.button {
    border: none;
    white-space: nowrap;
    &:not(&-times){
        border-radius: var(--radius-sm);
    }
    &-type-outline{
        color: var(--theme-text);
        outline: fn.px2rem(2px) solid currentColor;
        outline-offset: fn.px2rem(-2px);
        background: none;
    }
    &:not(&-sm,&-times){
        @extend %padding_md;
    }
    &-sm{
        @extend %padding_sm;
    }

    &:hover {
        text-decoration: none;
    }

    &-block {
        @extend %full_width;
    }

    &-times{
        $angle: 45deg;
        $size: fn.px2rem(20px);

        width: $size;
        height: $size;
        z-index: 100;
        color: var(--text-danger);
        background: var(--color-danger);
        @extend %position_absolute, %round_corner;
        &:before {
            transform: rotate($angle);
            @extend %_cross, %position_absolute;
        }

        &:after {
            transform: rotate(-$angle);
            @extend %_cross, %position_absolute;
        }
    }
}
