@use '../../utils/callables/functions' as fn;

.checkbox{
    $size: fn.px2rem(20px);
    height: $size;
    width: $size;
    vertical-align: text-bottom;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox:not(:checked){
    appearance: none;
    outline-offset: fn.px2rem(-2px);
    outline: fn.px2rem(2px) solid var(--border-color);
}

.checkbox:checked{
    clip-path: circle(50%);
}