@use '../../utils/callables/extensions' as ext;

.choice-group{
    $gap: calc(var(--spacing)/4);
    border-radius: var(--radius-sm);
    outline: var(--thin-border);
    overflow: hidden;
    display: grid;
    padding: $gap;
    gap: $gap;
    @extend %position_relative;
    &:has(:focus){
        outline-color: var(--accent-color);
    }
    &>*{
        cursor: pointer;
        border-radius: var(--radius-sm);
        outline: var(--thin-border);
        &:has(:checked){
            @extend %theme_color;
        }
    }
    &:not(&-sm)>*{
        @extend %padding_sm;
    }
    &-sm>*{
        padding: calc(var(--spacing-sm)/2);
    }
    input{
        appearance: none;
    }
    &:not(&-dir-v){
        grid-auto-flow: column;
    }
}