@use '../../utils/callables/functions' as fn;
@use '../../utils/callables/extensions' as ext;

.input-mask{
    &:after{
        top: 0;
        left: 0;
        content: attr(data-label);
        @extend %position_absolute, %full_size;
        background-color: var(--bg-color);
    }
    &[data-label]{
        &:after{
            color: var(--font-grey);
            @extend %padding_md;
        }
    }
    &:hover:after,&:focus:after,&:has(:focus):after{
        transform: translateY(-100%);
    }
}