@use '../../utils/callables/functions' as fn;
@use '../../utils/callables/extensions' as ext;

.input{
    &-group{
        display: flex;
        overflow-x: auto;
        outline: var(--thin-border);
        border-radius: var(--radius-sm);
        @extend %position_relative;
        &:has(:focus){
            outline-color: var(--accent-color);
        }
        &:not(&-sm)>*{
            @extend %padding_md;
        }
        &-sm>*{
            @extend %padding_sm;
        }
        &>*,input-line>*{
            border: none;
            border-radius: 0;
            outline: var(--thin-border);
        }
        &-md>textarea,input-line-md>textarea{
            height: fn.px2rem(40px);
            min-height: fn.px2rem(40px);
        }
        &>label{
            background-color: var(--fg-color);
        }
        select,input,textarea{
            flex: 1;
            min-width: 0;
            background-color: var(--bg-color);
        }
        select{
            outline: none;
        }
    }

    &-box{
        border: none;
        outline: var(--thin-border);
        border-radius: var(--radius-sm);
        background-color: var(--bg-color);
        @extend %full_width;
        &:not(&-sm){
            @extend %padding_md;
        }
        &-sm{
            @extend %padding_sm;
        }
        &:focus{
            outline-color: var(--accent-color);
        }
    }
}
textarea.input-box{
    height: fn.px2rem(40px);
    min-height: fn.px2rem(40px);
}
input::file-selector-button{
    border: none;
    background: none;
}
input:not(:invalid),select,textarea:not(:invalid),input::file-selector-button{
    color: inherit;
}