@use '../../utils/callables/functions' as fn;
@use '../../utils/callables/extensions';

.toggle {
    $margin: fn.px2rem(2px);
    $gutter: $margin * 3;
    --width: #{fn.px2rem(40px)};
    --size: calc(var(--width) / 2.6);

    width: var(--width);
    cursor: pointer;
    appearance: none;
    border-radius: 50rem;
    outline: $margin solid;
    vertical-align: text-bottom;
    @extend %position_relative, %overflow_hide;

    &:before {
        content: '';
        height: var(--size);
        width: var(--size);
        display: block;
        margin: $margin;
        @extend %round_corner;
    }
    &:not(:checked){
        outline-color: var(--border-color);
        &:before{
            background-color: var(--border-color);
        }
    }
    &:checked{
        outline-color: var(--accent-color);
        &:before{
            margin-left: calc(var(--width) - var(--size) - $margin);
            background-color: var(--accent-color);
        }
    }
}