@use '../../utils/callables/functions' as fn;
@use '../../utils/callables/extensions';

.toggle {
    $outline: fn.px2rem(2px);
    $width: fn.px2rem(40px);
    $margin: fn.px2rem(2px);
    $size: calc($width / 2) - ($margin * 2) - $outline;

    width: $width;
    cursor: pointer;
    appearance: none;
    border-radius: 10rem;
    outline: $outline solid;
    vertical-align: text-bottom;
    @extend %position_relative, %overflow_hide;

    &:before {
        content: '';
        height: $size;
        width: $size;
        display: block;
        margin: $margin;
        @extend %round_corner;
    }
    &:not(:checked){
        outline-color: var(--border-color);
        &:before{
            background-color: var(--border-color);
        }
    }
    &:checked{
        outline-color: var(--accent-color);
        &:before{
            margin-left: $width - ($size + $margin);
            background-color: var(--accent-color);
        }
    }
}