@use 'sass:math';
@use '../global/vars';
@use '../global/extensions';
@use '../global/colors';

.card {
    &:not(&-h)>&-header {
        border-bottom: colors.line();
    }

    &:not(&-h)>&-footer {
        border-top: colors.line();
    }

    &:not(&-size-sm)>:not(.no-gaps) {
        @extend %padding-md;
    }

    &-size-sm>:not(.no-gaps) {
        @extend %padding-sm;
    }

    $cd: &;

    &-stretch {
        @extend %fullHeight, %flexible;

        &:not(#{$cd}-h) {
            flex-direction: column;
        }
    }

    &-h {
        @extend %flexible;
    }

    &>&-body {
        @extend %flex-1;
        overflow: hidden auto;
    }
}