@use '../global/extensions';
@use '../global/vars';

.carousel {
    overflow: hidden;
    @extend %fullHeight;

    &-items {
        list-style: none;
        transition-timing-function: ease-in;
        @extend %fullHeight, %no-gaps, %flexible;

        &>* {
            flex: 0 0 100%;
            @extend %fullHeight;
        }
    }

    &-nav {
        $_gap: vars.size('xs');
        gap: $_gap;
        overflow-x: auto;
        list-style: none;
        counter-reset: num;
        @extend %posAbsolute, %flexible, %flexCenter, %fullWidth, %no-gaps;

        &>:before {
            width: $_gap;
            height: $_gap;
            font-size: vars.fontSize('xs');
            @extend %zIndex-xs, %flexible, %flexCenter, %cursorPointer, %roundCorner, %greyBorder, %counter-num;
        }

        &>.active:before {
            @extend %colorShadow;
        }
    }
}