@use '../global/vars';
@use '../global/extensions';
@use '../global/callables' as cb;

.row {
    @extend %flexible;
    flex-direction: column;

    &-wrap {
        flex-wrap: wrap;
    }

    $_gap: map-get(vars.$paddingSquare, 'md');

    &:not(.no-gaps) {
        gap: $_gap;
    }

    &:not(.no-gaps, :last-child) {
        margin-bottom: $_gap;
    }

    &-borders>.col>* {
        @extend %greyBorder;
    }

    &-stretch {
        @extend %fullHeight;

        &>.col {
            @extend %fullHeight;
        }
    }

    @include cb.media(map-get(vars.$breakpoints, 'md')) {
        & {
            flex-direction: row;

            &:not(&-col-stretch) {
                align-items: flex-start;
            }
        }
    }
}

.col {
    max-width: 100%;

    &:not([class*=width-]) {
        @extend %flex-1;
    }

    &-stretch {
        align-self: stretch;
    }

    @each $key,
    $val in vars.$paddingSquare {
        &-gap-#{$key}>:not(:last-child) {
            margin-bottom: $val;
        }
    }
}