.card:not(.card-h)>.card-header{
    border-bottom: var(--grey-border);
}
.card:not(.card-h)>.card-footer{
    border-top: var(--grey-border);
}
.card:not(.card-size-sm)>:not(.no-gaps){
    padding: var(--rem-md);
}
.card-size-sm>:not(.no-gaps){
    padding: var(--md-half);
}
.card-stretch:not(.card-h){
    flex-direction: column;
}
.card-stretch{
    height: 100%;
}
.card-stretch,.card-h{
    display: flex;
}
.card>.card-body{
    flex: 1;
    overflow:hidden auto;
}