.media-caption-top,.media-caption-bottom,.media-caption-full{
    width: 100%;
}
.media-caption:not(.media-caption-bottom){
    top: 0;
}
.media-caption-right{
    right: 0;
}
.media{
    overflow: hidden;
    transform: translate(0);
}
.media:hover>img,.media:hover>picture{
    transform: scale(1.1);
}
.media-caption-left,.media-caption-right,.media-caption-full{
    /*background-image:repeating-linear-gradient(-45deg, rgba(0,0,0,.5) 1px 2px,transparent 2px 2.77px);*/
    background-color: rgba(0,0,0,.5);
    overflow:hidden auto;
    height: 100%;
}
.media-caption-full{
    opacity: 0;
}
.media-caption-full:hover{
    opacity: 1;
}
.media-caption-left,.media-caption-right{
    max-width: 45%;
}
.media-caption{
    color:#fff;
    position: fixed;
    padding: var(--rem-md);
    text-shadow:1px 1px #000;
}
.media-caption-bottom{
    bottom: 0;
    background: linear-gradient(transparent,rgba(0,0,0,.8));
}
.media-caption-top{
    background: linear-gradient(rgba(0,0,0,.8),transparent);
}