.table-even tr:nth-of-type(2n)>td,.table-odd tr:nth-of-type(2n+1)>td{
    background-color: rgba(90,90,90,.2);
}
.table-bordered td{
    border-top: var(--grey-border);
}
.table{
    width: 100%;
    border-radius: var(--md-quarter);
}
.table-container{
    overflow-x: auto;
}
.table td,.table th{
    padding: var(--md-half) var(--rem-md);
}