.toggle:after{
    right: 0;
}
.toggle:before{
    left: 0;
    height: 100%;
}
.toggle:before,.toggle:after{
    justify-content: center;
    content: '';
}
.toggle,.toggle:before,.toggle:after{
    align-items: center;
    display: inline-flex;
    border-radius: 50rem;
}
.toggle{
    cursor: pointer;
    appearance: none;
    transform: translate(0);
}
.toggle-type-2:checked:before,.toggle-type-1:checked:after{
    background-color: var(--theme-bg);
}
.toggle-type-2:before,.toggle-type-2:after{
    position: relative;
}
.toggle-type-2:before,.toggle-type-1:after{
    background-color: rgba(0,0,0,.2);
}
/*...............tiggle-1.................*/
.toggle-type-2{
    padding:2px;
    border: 2px solid rgba(0,0,0,.3);
    --toggle-w:calc(var(--rem-md)*3.75);
}
.toggle-type-2:after{
    width: 60%;
}
.toggle-type-2:before{
    width: 40%;
}
.toggle-type-2:checked{
    border-color: var(--theme-bg);
}
.toggle-type-2:not(:checked):after{
    content: attr(data-off);
}
.toggle-type-2:checked:after{
    content: attr(data-on);
    right: 40%;
}
.toggle-type-2:checked:before{
    left: 60%;
}
.toggle-type-2.toggle-size-xs{
    width: calc(var(--toggle-w) * .5);
    font-size: var(--font-xs);
}
.toggle-type-2.toggle-size-sm{
    width: var(--toggle-w);
    font-size: var(--font-sm);
}
.toggle-type-2.toggle-size-md{
    width: calc(var(--toggle-w) * 1.5);
}
.toggle-type-2.toggle-size-lg{
    width: calc(var(--toggle-w) * 2);
}
.toggle-type-2.toggle-size-xl{
    width: calc(var(--toggle-w) * 2.5);
}
/*...........toggle-2............*/
.toggle-type-1:after{
    height: 65%;
    width: 100%;
}
.toggle-type-1:before{
    width: 50%;
    position: fixed;
    box-shadow: var(--shadow-sm);
    background-color: white;

}
.toggle-type-1:checked:before{
    left: 50%;
}
.toggle-type-1.toggle-size-xs{
    width: calc(var(--rem-md) * 2);
}
.toggle-type-1.toggle-size-sm{
    width: calc(var(--size-sm) * 2);
}
.toggle-type-1.toggle-size-md{
    width: calc(var(--size-md) * 2);
}
.toggle-type-1.toggle-size-lg{
    width: calc(var(--size-lg) * 2);
}
.toggle-type-1.toggle-size-xl{
    width: calc(var(--size-xl) * 2);
}
/*...........toggle-size............*/
.toggle-size-xs{
    height: var(--rem-md);
}
.toggle-size-sm{
    height: var(--size-sm);
}
.toggle-size-md{
    height: var(--size-md);
}
.toggle-size-lg{
    height: var(--size-lg);
}
.toggle-size-xl{
    height: var(--size-xl);
}