@use '../global/vars';
@use '../global/colors';
@use '../global/extensions';
@use '../global/callables' as cb;

.breadcrumb{
    $dim: cb.px2rem(5px);
    top: 0;
    gap: $dim * 1.5;
    flex-wrap: wrap;
    position: sticky;
    background-color: colors.selectedTheme();
    @extend %resetList, %flexible, %zIndex-xs;
    &>*{
        @extend %flexible, %flexCenter;
        &:not(:last-child):after{
            height: $dim;
            width: $dim;
            margin-left: $dim;
            $border: cb.px2rem(1px) solid currentColor;
            border-right: $border;
            border-top: $border;
            transform: rotate(45deg);
            @extend %emptyContent;
        }
    }
}