@use '../global/extensions';

.dropdown {
    display: inline-block;
    @extend %posRelative;

    &-body {
        overflow: hidden auto;
        width: max-content;
        @extend %zIndex-xs, %radiusDefault, %shadow-sm, %posAbsolute;
    }

    &-stretch>&-body {
        min-width: 100%;
    }

    &:not(:hover)>&-body {
        max-height: 0;
    }
}