@use '../global/vars';
@use '../global/extensions';
@use '../global/callables' as cb;

.lens {
    width: 40%;
    height: 40%;
    transition: none;
    pointer-events: none;
    background-repeat: no-repeat;
    @extend %posAbsolute, %topLeft-0;

    &-container {
        overflow: hidden;
        cursor: zoom-in;
        display: inline-flex;
        @extend %posRelative;

        &.active:before {
            background-color: rgba(black,0.65);
            @extend %posAbsolute, %emptyContent, %fullHeight, %fullWidth;
        }
    }
}