@use '../global/vars';
@use '../global/extensions';
@use '../global/callables' as cb;
@use '../global/colors';

.loader {
    @extend %posAbsolute, %topLeft-0;

    &-type {
        &-walk {
            height: cb.px2rem(2px);
            background-color: colors.primary();
            // background-color: colors.decide(colors.selectedTheme(),colors.primary());
            @extend %zIndex-lg, %roundCorner;

            @keyframes walk {
                0% {
                    left: -30%;
                }

                50% {
                    left: 100%;
                }

                100% {
                    left: -30%;
                }
            }
        }

        &-glow {
            flex-direction: column;
            background-color: rgba(colors.selectedTheme(), 0.8);
            @extend %zIndex-lg, %flexible, %fullHeight, %fullWidth, %flexCenter;

            &:before {
                display: block;
                transform: scale(0);
                width: vars.size('xxl');
                animation: glow .8s linear infinite;
                @extend %emptyContent, %color-primary, %height-xxl, %roundCorner;
            }

            &:after {
                content: attr(data-after);
                color: colors.getTextColor();
            }

            @keyframes glow {
                100% {
                    transform: scale(1);
                    opacity: .05;
                }
            }
        }
    }
}

.animate {
    width: 30%;
    animation: walk 1.5s linear infinite;
}