@use '../global/vars';
@use '../global/extensions';

$_gap: map-get(vars.$paddingSquare, 'md');
$_gap_center: 50%;

%_overflow-y {
    overflow: hidden auto;
}

%_r50 {
    right: $_gap_center;
}

%_b50 {
    bottom: $_gap_center;
}

%_x50 {
    @extend %_r50;
    transform: translateX($_gap_center);
}

%_y50 {
    @extend %_b50;
    transform: translateY($_gap_center);
}

%_top {
    top: $_gap;
}

%_top-0 {
    top: 0;
}

%_bottom {
    bottom: $_gap;
}

%_bottom-0 {
    bottom: 0;
}

%_left {
    left: $_gap;
}

%_left-0 {
    left: 0;
}

%_right {
    right: $_gap;
}

%_right-0 {
    right: 0;
}

@mixin _pos-x($pos) {

    &-left {
        @extend %posAbsolute, %#{$pos}, %_left;
    }

    &-right {
        @extend %posAbsolute, %#{$pos}, %_right;
    }
}

@mixin _pos-y($pos) {

    &-top {
        @extend %posAbsolute, %#{$pos}, %_top;
    }

    &-bottom {
        @extend %posAbsolute, %#{$pos}, %_bottom;
    }
}


.pos {
    &-container {
        @extend %posRelative;
    }

    &-top {
        @extend %posAbsolute, %_top-0, %fullWidth;
        @include _pos-x(_top);
    }

    &-bottom {
        @extend %posAbsolute, %_bottom-0, %fullWidth;
        @include _pos-x(_bottom);
    }

    &-left {
        @extend %posAbsolute, %_top-0, %_left-0, %fullHeight, %_overflow-y;
    }

    &-right {
        @extend %posAbsolute, %_top-0, %_right-0, %fullHeight, %_overflow-y;
    }

    &-center {
        transform: translate($_gap_center, $_gap_center);
        @extend %posAbsolute, %_r50, %_b50;
        @include _pos-x(_y50);
        @include _pos-y(_x50);
    }
}

%_sit-top {
    transform: translateY(-$_gap_center * 2);
}

// Kwa ajili ya dropdown tu
.sit {

    &-top {
        @extend %posAbsolute, %_top-0, %_sit-top;

        &-right {
            @extend %posAbsolute, %_top-0, %_right-0, %_sit-top;
        }

        &-center {
            transform: translate($_gap_center, -$_gap_center * 2);
            @extend %posAbsolute, %_r50, %_top-0;
        }
    }

    &-bottom {
        @extend %posAbsolute;

        &-right {
            @extend %posAbsolute, %_right-0;
        }

        &-center {
            @extend %posAbsolute, %_x50;
        }
    }

    &-left {
        &-top {
            transform: translate(-$_gap_center * 2, -$_gap_center * 2);
            @extend %posAbsolute, %_left-0;
        }

        &-bottom {
            transform: translateX(-$_gap_center * 2);
            @extend %posAbsolute, %_left-0, %_top-0;
        }
    }

    &-right {
        &-top {
            transform: translate($_gap_center * 2, -$_gap_center * 2);
            @extend %posAbsolute, %_right-0;
        }

        &-bottom {
            transform: translateX($_gap_center * 2);
            @extend %posAbsolute, %_right-0, %_top-0;
        }
    }
}