@use '../global/vars';
@use '../global/extensions';
@use '../global/colors';

%_border-w {
    width: 50%;
    border-bottom: colors.line();
}

%_border-h {
    height: 50%;
    border-left: colors.line();
}

.divider {
    align-items: center;
    @extend %flexible;

    &:before {
        @extend %emptyContent, %flex-1;
    }

    &:after {
        @extend %emptyContent, %flex-1;
    }

    &-h {
        margin: map-get(vars.$paddingSquare, 'md') 0;

        &:before {
            @extend %_border-w;
        }

        &:after {
            @extend %_border-w;
        }
    }

    &:not(&-h) {
        @extend %fullHeight;
        writing-mode: sideways-lr;
        margin: 0 map-get(vars.$paddingSquare, 'md');

        &:before {
            @extend %_border-h;
        }

        &:after {
            @extend %_border-h;
        }
    }
}