
@mixin positionItem($length, $location){
    $value: calc((100% - $length)/2);
    @if($location == center){
        top: $value;
        left: $value;
    }
    @else if($location == left){
        top: $value;
    }
    @else if($location == right){
        top: $value;
        right: 0;
    }
    @else if($location == bottom){
        bottom: 0;
        left: $value;
    }
    @else if($location == top){
        top: 0;
        left: $value;
    }
}

@mixin media($size, $feature: min-width) {
    @media($feature: $size) {
        @content;
    }
}

@mixin spacing($size){
    padding: $size;
    margin: $size;
}

@mixin createRightAngle($size,$border_width){
    content: '';
    transform: rotate(45deg);
    width: $size;
    height: $size;
    border: $border_width solid currentColor;
    border-bottom: transparent;
    border-left: transparent;
}

@mixin createLeftAngle($size,$border_width){
    content: '';
    transform: rotate(45deg);
    width: $size;
    height: $size;
    border: $border_width solid currentColor;
    border-top: transparent;
    border-right: transparent;
}

%full_width{
    width: 100%;
}
%full_height{
    height: 100%;
}
%full_size{
    @extend %full_width, %full_height;
}
%position_fixed{
    position: fixed;
}
%position_absolute{
    position: absolute;
}
%spacing_0{
    @include spacing(0);
}

%padding_x{
    padding: var(--spacing) 0;
}

%padding_y{
    padding: 0 var(--spacing);
}

%padding_xy{
    padding: var(--spacing);
}

%margin_x{
    margin: var(--spacing) 0;
}

%margin_y{
    margin: 0 var(--spacing);
}

%margin_xy{
    margin: var(--spacing);
}

%padding_x_sm{
    padding: calc(var(--spacing)/2) 0;
}

%padding_y_sm{
    padding: 0 calc(var(--spacing)/2);
}

%padding_xy_sm{
    padding: calc(var(--spacing)/2);
}

%margin_x_sm{
    margin: calc(var(--spacing)/2) 0;
}

%margin_y_sm{
    margin: 0 calc(var(--spacing)/2);
}

%margin_xy_sm{
    margin: calc(var(--spacing)/2);
}
%center_grid{
    display: grid;
    place-items: center;
}

%padding_md{
    padding: var(--spacing-md);
}

%padding_sm{
    padding: var(--spacing-sm);
}

%margin_md{
    margin: var(--spacing-md);
}
%margin_sm{
    margin: var(--spacing-sm);
}
%font_sm{
    font-size: 80%;
}
%box_shadow_sm{
    box-shadow: var(--shadow-sm);
}
%box_shadow_md{
    box-shadow: var(--shadow-md);
}
%theme_color{
    color: var(--theme-text);
    background-color: var(--theme-color);
}