@use 'sass:math';
@use 'sass:color';

@function gammaCorrection($value){
    $value: math.div($value,255);
    @return if($value <= 0.03928, math.div($value, 12.92), math.pow(math.div($value + 0.055, 1.055), 2.4));
}
@function isDarkColor($color){
    $red: gammaCorrection(color.channel($color, 'red', $space: rgb));
    $green: gammaCorrection(color.channel($color, 'green', $space: rgb));
    $blue: gammaCorrection(color.channel($color, 'blue', $space: rgb));
    $luminance: $red * 0.2126 + $green * 0.7152 + $blue * 0.0722;
    @return $luminance < 0.179;
}
@function adjustContrast($color, $amount:8%){
    $factor: if(isDarkColor($color),1,-1);
    @return color.scale($color,$lightness:($amount * $factor));
}
@function getTextColor($background_color, $dark_color:#111){
    @return if(isDarkColor($background_color),#ddd,$dark_color);
}

@function px2rem($px, $return_unit: true) {
    $num: $px * 0+1;
    $base: 1rem;

    @if(math.unit($num)=='px' or is-unitless($px)) {
        @if($return_unit) {
            @return math.div(math.div($px * $base, $num), 16);
        }

        $base: math.div($base, 1rem);
        @return math.div(math.div($px * $base, $num), 16);
    }

    @error 'only px unit allowed!';
}

@function getBorder($size:1px,$color:var(--border-color)){
    @return px2rem($size) solid $color;
}