@use 'functions' as fn;
@use 'sass:math';
@use 'sass:color';

$font_size: 1rem;
$spacing: 1rem;

$accent_color: #007bff;
$bg_color: #000;
$fg_color: fn.adjustContrast($bg_color);
$border_color: fn.adjustContrast($fg_color,14%);

$action_colors: (
'success': #2eb85c,
'disable': #aaa,
'danger':#d40000,
'alert':#ffc105,
'info':#3498db,
// 'yellow': #f9b115
);

$grid_colmns: 12;
$breakpoints: ('sm':0,'md':36rem,'lg':48rem);
// $breakpoints: ('xs':0,'sm':36rem,'md':48rem,'lg':62rem,'xl':75rem);
$z_index: ('xs': 1,'sm': 50,'md': 100,'lg': 200);

$animation_duration: 0.35s;
$animation_timing: ease-in;

$shadows:(
'sm': (0 0 fn.px2rem(1px) #d1d1d1, 0 fn.px2rem(1px) fn.px2rem(1px) #50565a),
'md': (0 fn.px2rem(2px) fn.px2rem(5px) #aaa, 0 fn.px2rem(-1px) fn.px2rem(4px) #aaa),
);
$border_radius: (
'sm': math.div($spacing, 4),
'md': math.div($spacing, 2),
'lg': 50rem,
);