@use 'functions' as fn;
@use 'sass:math';

$font_size: 1rem;
$spacing: 1rem;
$theme_color: #007bff;

$action_colors: (
'success': #2eb85c,
'disable': #e8e8e8,
'danger':#d40000,
'alert':#ffc105,
'info':#3498db,
/*'yellow': #f9b115*/
);

$grid_colmns: 12;
$breakpoints: ('xs':0,'sm':36rem,'md':48rem,'lg':62rem,'xl':75rem);
$z_index: ('xs': 1,'sm': 50,'md': 100,'lg': 200);
$shadow_color: #3b3b3b;
$accent_color: var(--theme-color);
$animation_duration: 0.2s;
$animation_timing: ease-in;

$shadows:(
'xs': (0 0 fn.px2rem(1px) $shadow_color, 0 fn.px2rem(1px) fn.px2rem(1px) $shadow_color),
'sm': 0 0 fn.px2rem(3px) fn.px2rem(-1px) $shadow_color,
'md': 0 0 fn.px2rem(5px) fn.px2rem(3px) $shadow_color,
);
$border_radius: (
'xs': math.div($spacing, 4),
'sm': math.div($spacing, 2),
'md': $spacing,
'lg': 50%,
);