@use 'sass:math';

@function px2rem($px, $return_unit: true) {
    $num: $px * 0+1;
    $base: 1rem;

    @if(unit($num)=='px' or is-unitless($px)) {
        @if($return_unit) {
            @return math.div(math.div($px * $base, $num), 16);
        }

        $base: math.div($base, 1rem);
        @return math.div(math.div($px * $base, $num), 16);
    }

    @error 'only px unit allowed!';
}

@mixin media($size, $feature: min-width) {

    @media($feature: $size) {
        @content;
    }
}

@function getFromList($keys, $list) {

    @if(length($keys)==1) {
        @each $val in $keys {
            @return map-get($list, $val);
        }
    }

    @if(length($keys)>1) {
        $output: ();

        @each $val in $keys {
            $output: map-merge($output, ($val: map-get($list, $val)));
        }

        @return $output;
    }

    @return $list;
}