@use 'sass:math';
@use 'sass:color';
@use 'callables' as cb;

$classRange: 2;
$themeMixInterval: 2.0%;

@function primary() {
    // @return #930037;
    // @return yellow;
    // @return aqua;
    @return #007bff;
    @return lime;
}

@function isDark($color) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    @return math.sqrt(($r * $r * 0.299)+($g * $g * 0.587)+($b * $b * 0.114)) <=128;
    // <=127.5
}

@function lightenPrimary($interval) {
    $lightnessAmount: 14%;
    @return color.scale(primary(), $lightness: $interval * $lightnessAmount);
}

@function mixPrimary($color) {
    @return mix(primary(), $color, 1%);
}

@function darkTheme() {
    @return mixPrimary(#222);
}

@function lightTheme() {
    $white: #fff;

    @if(selectionEnabled()) {
        @return hsl(hue($white), saturation($white), 100% - ($classRange * $themeMixInterval));
    }

    @return $white;
}

@function selectedTheme() {
    @if(selectionEnabled()) {
        @return if(isDark(primary()), lightTheme(), darkTheme());
    }

    @return lightTheme();
}

@function selectionEnabled() {
    @return true;
}

@function getTextColor($background_color: null) {
    @if(isDark($background_color or selectedTheme())) {
        @return #fff;
    }

    @return #000;
}

@function decide($dark_color, $light_color, $background_color: null) {
    @return if(isDark($background_color or selectedTheme()), $dark_color, $light_color);
}

@function border() {
    @return changeLightness(darkTheme(), -($themeMixInterval * ($classRange + 0.5)));
}

@function changeLightness($color, $lightness) {
    @return hsl(hue($color), saturation($color), lightness($color) + $lightness);
}

@function line($width: 'sm') {
    $borderWidth: ('sm':1px, 'md': 2px);
    @return cb.px2rem(map-get($borderWidth, $width)) solid decide(border(), shadow());
}

@function get($color...) {
    $colors: ('success': #2eb85c,
        'grey': decide(border(), mixPrimary(#e8e8e8)),
        'danger':#d40000,
        'alert':#ffc105,
        'info':#3498db,
        // 'yellow': #f9b115
    );

    @return cb.getFromList($color, $colors);
}

@function shadow($opacity: 0.25) {
    @return rgba(border(), $opacity);
}

@function boxShadow($shadow: -90%) {
    $color: color.scale(darkTheme(), $lightness: $shadow);
    @return decide($color, mixPrimary(#515658));
}