@use 'sass:math';
@use 'sass:color';
@use 'callables' as cb;
@use 'colors';

$_baseUnit: 1rem;
$_color2: colors.boxShadow();
$_color1: colors.decide(color.scale(colors.darkTheme(), $lightness: -45%), #d1d1d1);
$_px1: cb.px2rem(1px);
$boxShadow: (
    'xs': (0 0 $_px1 $_color1, 0 $_px1 $_px1 $_color2),
    'sm': 0 0 cb.px2rem(3px) cb.px2rem(-1px) $_color2,
    // 'md': 0 0 cb.px2rem(5px) cb.px2rem(3px) colors.decide($_darkest_color, $shadowColor),
    // 'lg': 0 cb.px2rem(5px) cb.px2rem(8px) cb.px2rem(3px) colors.decide($_darkest_color, $shadowColor),
    'inset': (inset 0 -0.6rem 1rem -0.35rem colors.mixPrimary(rgba(0, 0, 0, 0.17)),
        inset 0 0.6rem 2rem -0.3rem colors.mixPrimary(rgba(255, 255, 255, 0.15)),
        inset 0 0 0 0.05rem colors.mixPrimary(rgba(255, 255, 255, 0.12)))
);

@function size($size...) {
    $step: 0;
    $selections: ();

    @each $key in ('xs', 'sm', 'md', 'lg', 'xl', 'xxl') {
        $selections: map-merge($selections, ($key: $_baseUnit + (0.75 * $step)));
        $step: $step + 1;
    }

    @return cb.getFromList($size, $selections);
}

$inputSize: size('sm', 'md', 'lg', 'xl');

@function fontSize($size...) {
    $selections: ('xs': $_baseUnit * 0.7, 'sm': $_baseUnit * 0.8);
    $fs: ('md': 'xs', 'lg': 'sm', 'xl': 'md', 'xxl': 'lg');

    @each $key,
    $val in $fs {
        $selections: map-merge($selections, ($key: size($val)));
    }
    
    @return cb.getFromList($size, $selections);
}

$paddingSquare: (
    'xs': math.div($_baseUnit, 4),
    'sm': math.div($_baseUnit, 2),
    'md': $_baseUnit
);

$paddingXY: (
    'xs': math.div($_baseUnit, 6) math.div($_baseUnit, 4),
    'sm': math.div($_baseUnit, 4) math.div($_baseUnit, 2),
    'md': math.div($_baseUnit, 2) $_baseUnit
);

$borderRadius: (
    'xs': math.div($_baseUnit, 4),
    'sm': math.div($_baseUnit, 2),
    'md': $_baseUnit,
    'lg': $_baseUnit * 2,
    'xl': $_baseUnit * 4,
    'xxl': $_baseUnit * 50
);

$breakpoints: (
    'sm': cb.px2rem(576px),
    'md': cb.px2rem(768px),
    'lg': cb.px2rem(992px),
    'xl': cb.px2rem(1200px)
);
$zindex: (
    'xs': 1,
    'sm': 50,
    'md': 100,
    'lg': 150
);