@use 'callables/variables' as var;

.animation-spin{
    animation: spin var.$animation_duration infinite var.$animation_timing;
}
.animation-zoom-out{
    animation: zoomOut var.$animation_duration var.$animation_timing;
}
.animation-zoom-in{
    animation: zoomIn var.$animation_duration var.$animation_timing;
}
.animation-slide-left{
    animation: slideLeft var.$animation_duration var.$animation_timing;
}
.animation-slide-right{
    animation: slideRight var.$animation_duration var.$animation_timing;
}
.animation-slide-up{
    animation: slideUp var.$animation_duration var.$animation_timing;
}
.animation-slide-down{
    animation: slideDown var.$animation_duration var.$animation_timing;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes spin{
    100%{
        transform:rotate(359deg)
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes zoomOut {
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}