$_duration:.35s;
$_timing: ease-in;

.animation-spin{
    animation: spin $_duration infinite $_timing;
}
.animation-zoom-out{
    animation: zoomOut $_duration $_timing;
}
.animation-zoom-in{
    animation: zoomIn $_duration $_timing;
}
.animation-slide-left{
    animation: slideLeft $_duration $_timing;
}
.animation-slide-right{
    animation: slideRight $_duration $_timing;
}
.animation-slide-up{
    animation: slideUp $_duration $_timing;
}
.animation-slide-down{
    animation: slideDown $_duration $_timing;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes spin{
    100%{
        transform:rotate(359deg)
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes zoomOut {
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}