@use 'variables' as var;
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes zoomOut {
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}
@function _getDuration($duration){
    @return if($duration == null,.35s,$duration);
}

@mixin zoomOut($duration:null, $timing:ease-in) {
    .animation-zoom-out{
        animation: zoomOut _getDuration($duration) $timing;
    }
}

@mixin zoomIn($duration:null, $timing:ease-in) {
    .animation-zoom-in{
        animation: zoomIn _getDuration($duration) $timing;
    }
}

@mixin slideLeft($duration:null, $timing:ease-in) {
    .animation-slide-left{
        animation: slideLeft _getDuration($duration) $timing;
    }
}

@mixin slideRight($duration:null, $timing:ease-in) {
    .animation-slide-right{
        animation: slideRight _getDuration($duration) $timing;
    }
}

@mixin slideUp($duration:null, $timing:ease-in) {
    .animation-slide-up{
        animation: slideUp _getDuration($duration) $timing;
    }
}

@mixin slideDown($duration:null, $timing:ease-in) {
    .animation-slide-down{
        animation: slideDown _getDuration($duration) $timing;
    }
}