@use 'sass:math';

@function gammaCorrection($value){
    $value: math.div($value,255);
    @return if($value <= 0.03928, math.div($value, 12.92), math.pow(math.div($value + 0.055, 1.055), 2.4));
}
@function isDarkColor($color){
    $red: gammaCorrection(red($color));
    $green: gammaCorrection(green($color));
    $blue: gammaCorrection(blue($color));
    $luminance: $red * 0.2126 + $green * 0.7152 + $blue * 0.0722;
    @return $luminance < 0.179;
}
@function getTextColor($background_color){
    @return if(isDarkColor($background_color),#fff,#000);
}

@function px2rem($px, $return_unit: true) {
    $num: $px * 0+1;
    $base: 1rem;

    @if(unit($num)=='px' or is-unitless($px)) {
        @if($return_unit) {
            @return math.div(math.div($px * $base, $num), 16);
        }

        $base: math.div($base, 1rem);
        @return math.div(math.div($px * $base, $num), 16);
    }

    @error 'only px unit allowed!';
}

@function boxShadow($color){
    @return 0 px2rem(2px) px2rem(2px) 0 rgba(0, 0, 0, .14),
    0 px2rem(3px) px2rem(1px) px2rem(-2px) $color,
    0 px2rem(1px) px2rem(5px) 0 rgba(0, 0, 0, .12);
}