@use 'functions' as fn;
@use 'sass:color';
@use 'sass:math';

@mixin spacing($size){
    padding: $size;
    margin: $size;
}

@mixin colors($theme_color){
    @for $i from 0 through 10 {
        $color: color.scale($theme_color, $lightness: ($i - 5) * 20%);
        @if($i == 5){
            --color-theme: #{$color};
        }
        @else{
            --color-#{$i}: #{$color};
        }
    }
}

@mixin createThemeColors($theme_color){
    @for $i from 0 through 10 {
        $color: color.scale($theme_color, $lightness: ($i - 5) * 20%);
        @if($i == 5){
            .color-theme,::selection,::-webkit-scrollbar-thumb{
                color: fn.getTextColor($color);
                background-color: var(--color-theme);
            }
        }
        @else{
            .color-#{$i}{
                color: fn.getTextColor($color);
                background-color: var(--color-#{$i});
            }
        }
    }
}

@mixin media($size, $feature: min-width) {
    @media($feature: $size) {
        @content;
    }
}
@mixin createColumns($breakpoints,$columns) {
    $ratio: math.div(100%, $columns);
    @each $key, $size in $breakpoints {
        @include media($size) {
            @for $col from 1 through $columns {
                .width-#{$key}-#{$col} {
                    width: $ratio * $col;
                }
                .height-#{$key}-#{$col} {
                    height: $ratio * $col;
                }
            }
        }
    }
}
@mixin createSpacing($name){
    .#{$name}-x{
        #{$name}-top: var(--spacing);
        #{$name}-bottom: var(--spacing);
    }
    .#{$name}-y{
        #{$name}-left: var(--spacing);
        #{$name}-right: var(--spacing);
    }
    .#{$name}-xy{
        #{$name}: var(--spacing);
    }
    .#{$name}-x-sm{
        #{$name}-top: calc(var(--spacing)/2);
        #{$name}-bottom: calc(var(--spacing)/2);
    }
    .#{$name}-y-sm{
        #{$name}-left: calc(var(--spacing)/2);
        #{$name}-right: calc(var(--spacing)/2);
    }
    .#{$name}-xy-sm{
        #{$name}: calc(var(--spacing)/2);
    }
}
@mixin createGap(){
    .gap-x{
        gap: var(--spacing) 0;
    }
    .gap-y{
        gap: 0 var(--spacing);
    }
    .gap-xy{
        gap: var(--spacing);
    }
}
/**
* Center an item (component)
*/
@mixin centerItem($length,$location: center){
    $pos: calc((100% - $length)/2);
    @if($location == center){
        top: $pos;
        left: $pos;
    }
    @else if($location == left){
        top: $pos;
    }
    @else if($location == right){
        top: $pos;
        right: 0;
    }
    @else if($location == bottom){
        bottom: 0;
        left: $pos;
    }
    @else if($location == top){
        top: 0;
        left: $pos;
    }
}

%full_width{
    width: 100%;
}
%full_height{
    height: 100%;
}
%full_size{
    @extend %full_width, %full_height;
}
%position_fixed{
    position: fixed;
}
%position_absolute{
    position: absolute;
}