@use 'callables/extensions';

%_top {
    top: 0;
}

%_right {
    right: 0;
}

%_bottom {
    bottom: 0;
}

%_left {
    left: 0;
}

%_left_center{
    inset: 0;
    margin: auto 0;
}
%_top_center{
    inset: 0;
    margin: 0 auto;
}
%_bottom_center{
    inset: auto 0 0 0;
    margin: auto;
}
%_right_center{
    inset: 0 0 0 auto;
    margin: auto;
}
.pos {
    &-t {
        @extend %position_absolute, %_top;
        &l {
            @extend %position_absolute, %_top, %_left;
        }
        &c {
            @extend %position_absolute, %_top_center;
        }
        &r {
            @extend %position_absolute, %_top, %_right;
        }
    }
    &-b {
        @extend %position_absolute, %_bottom;
        &l {
            @extend %position_absolute, %_bottom,%_left;
        }
        &c {
            @extend %position_absolute, %_bottom_center;
        }
        &r {
            @extend %position_absolute, %_bottom, %_right;
        }
    }
    &-c {
        @extend %position_absolute, %position_center;
        &l {
            @extend %position_absolute, %_left_center;
        }
        &r {
            @extend %position_absolute, %_right_center;
        }
    }
    &-l {
        @extend %position_absolute, %_top, %_left;
    }
    &-r {
        @extend %position_absolute, %_top, %_right;
    }
}
