@use 'mixins';
@use 'functions' as fn;
@use 'variables' as var;
@use 'animation' as anim;

:root{
    --font-size:#{var.$font_size};
    --spacing:#{var.$spacing};
    --accent-color:#{var.$accent_color};
    @include mixins.colors(var.$theme_color);
    @each $name,$color in var.$action_colors{
        --color-#{$name}: #{$color};
    }
    --thin-border: #{fn.getBorder()};
}
*{
    transition: all .2s;
}
@include mixins.createThemeColors(var.$theme_color);
@include mixins.createColumns(var.$breakpoints,var.$grid_colmns);
@include mixins.createSpacing(padding);
@include mixins.createSpacing(margin);
@include mixins.createGap();
@include anim.zoomOut;
@include anim.zoomIn;
@include anim.slideLeft;
@include anim.slideRight;
@include anim.slideUp;
@include anim.slideDown;
