@use 'utils/callables/functions' as fn;
@use 'utils/callables/extensions' as ext;
@use 'utils/callables/variables' as var;
@use 'sass:color';
@use 'sass:math';

@mixin _createColors($action_colors, $accent_color){
    $median: 10;
    @for $i from 1 through 19 {
        @if($i != $median){
            $color: color.scale($accent_color, $lightness: ($i - $median) * 10%);
            --color-#{$i}:#{$color};
        }
    }
    //--text-#{$name}: mix($color, #222, 5%);
    @each $name,$color in $action_colors{
        --text-#{$name}: #{fn.getTextColor($color)};
        --color-#{$name}: #{$color};
    }
}

@mixin _createAccentColors($accent_color){
    $median: 10;
    @for $i from 1 through 19 {
        $color: color.scale($accent_color, $lightness: ($i - $median) * 10%);
        @if($i == $median){
            .accent-color,.accent-color-hover:hover{
                @extend %accent_color;
            }
        }
        @else{
            .color-#{$i},.color-#{$i}-hover:hover{
                color: fn.getTextColor($color);
                background-color: var(--color-#{$i});
            }
        }
    }
}

@mixin _createColumns($breakpoints,$columns) {
    $ratio: math.div(100%, $columns);
    @each $key, $size in $breakpoints {
        @include ext.media($size) {
            @for $col from 1 through $columns {
                $name: if($col==12,max,if($col==9,3q,if($col==6,half,if($col==3,1q,$col))));
                .width-#{$key}-#{$name} {
                    width: $ratio * $col;
                }
                .height-#{$key}-#{$name} {
                    height: $ratio * $col;
                }
            }
        }
    }
}

@mixin _createSpacing($name){
    .#{$name}-x{
        @extend %#{$name}_x;
    }
    .#{$name}-y{
        @extend %#{$name}_y;
    }
    .#{$name}-xy{
        @extend %#{$name}_xy;
    }
    .#{$name}-x-sm{
        @extend %#{$name}_x_sm;
    }
    .#{$name}-y-sm{
        @extend %#{$name}_y_sm;
    }
    .#{$name}-xy-sm{
        @extend %#{$name}_xy_sm;
    }
    .#{$name}-md{
        @extend %#{$name}_md;
    }
    .#{$name}-sm{
        @extend %#{$name}_sm;
    }
}
:root{
    @include _createColors(var.$action_colors,var.$accent_color);
    --text-muted: #{if(fn.isDarkColor(var.$bg_color),#555,#888)};
    --font-size:#{var.$font_size};
    --accent-color:#{var.$accent_color};
    --accent-text: #{fn.getTextColor(var.$accent_color)};
    --thin-border: #{fn.getBorder()};
    --fg-color: #{var.$fg_color};
    --fg-text: #{fn.getTextColor(var.$fg_color)};
    --hover-color:rgba(0,0,0,.25);
    --theme-color:#{if(fn.isDarkColor(var.$bg_color),var.$bg_color,var.$fg_color)};
    --theme-text:#{if(fn.isDarkColor(var.$bg_color),var(--bg-text),fn.getTextColor(var.$fg_color))};
    --border-color: #{var.$border_color};
    --bg-color: #{var.$bg_color};
    --bg-text: #{fn.getTextColor(var.$bg_color)};
    --shadow-sm: #{map-get(var.$shadows,sm)};
    --shadow-md: #{map-get(var.$shadows,md)};
    --spacing:#{var.$spacing};
    --spacing-md: #{math.div(var.$spacing,2)} #{var.$spacing};
    --spacing-sm: #{math.div(var.$spacing,4)} #{math.div(var.$spacing,2)};
    --radius-sm: #{map-get(var.$border_radius,sm)};
}
*,:before,:after{
    transition: all .3s;
}
@each $name,$color in var.$action_colors{
    .color-#{$name}{
        color: var(--text-#{$name});
        background-color: var(--color-#{$name});
    }
}
.shadow-sm{
    @if(fn.isDarkColor(var.$bg_color)==false){
        @extend %box_shadow_sm;
    }
    @else{
        outline: var(--thin-border);
    }
}
.shadow-md{
    @if(fn.isDarkColor(var.$bg_color)==false){
        @extend %box_shadow_md;
    }
    @else{
        outline: var(--thin-border);
    }
}
.text-muted{
    color:var(--text-muted);
}
.mb-md{
    margin-bottom: var(--spacing);
}
.text-title{
    margin: 0 0 var(--spacing) 0;
    font-weight: bold;
}
.font-sm{
    @extend %font_sm;
}
.container{
    @extend %position_relative;
}
.full-size{
    @extend %full_size;
}
.radius-sm{
    border-radius: var(--radius-sm);
}
.borders{
    border: var(--thin-border);
}
.border-h>:not(:first-child){
    border-top: var(--thin-border);
}
.hide{
    display: none;
}
.justify-right{
    display: grid;
    justify-content: right;
}
.justify-center>*{
    margin: 0 auto;
}
.stripes{
    &-even {
        &>:not(:hover,.active):nth-of-type(2n) {
            background-color: var(--fg-color);
        }
    }
    &-odd {
        &>:not(:hover,.active):nth-of-type(2n+1) {
            background-color: var(--fg-color);
        }
    }
}

input:invalid {
    color: var(--color-danger);
}
select{
    appearance: none;
    background: none;
}
@include _createSpacing(margin);
@include _createSpacing(padding);
@include _createAccentColors(var.$accent_color);
@include _createColumns(var.$breakpoints,var.$grid_colmns);