/*
    Created on : May 14, 2025, 5:16:16 PM
    Author     : coder
*/
@use 'mixins';
@use 'variables' as var;

:root{
    --spacing: #{var.$spacing};
    --font-size: #{var.$font-size};
    --color-accent: #{var.$color-accent};
}
html,body {
    @include mixins.full-size;
}
body {
    font-size: var.$font-size;
    font-weight: normal;
    line-height: 1.5;
}
body,fieldset {
    @include mixins.no-gutter;
}
*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: var.$spacing/2;
}
p,ol,ul,dl, pre{
    margin-top: 0;
    margin-bottom: var.$spacing;
}
blockquote,figure {
    margin: 0 0 var.$spacing;
}
b,strong {
    font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}
small {
    font-size: 80%; /* Add the correct font size in all browsers */
}
sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -#{var.$spacing/4};
}
sup {
    top: -#{var.$spacing/2};
}
a {
    color: var(--color-accent);
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    text-decoration: underline;
}
pre,code,kbd,samp {
    font-family: monospace; /* Correct the inheritance and scaling of font size in all browsers. */
}
pre,textarea {
    /* Don't allow content to break outside */
    overflow: auto;
}
img {
    vertical-align: middle;
    border-style: none; /* Remove the border on images inside links in IE 10-. */
}
svg:not(:root) {
    overflow: hidden; /* Hide the overflow in IE */
}
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
table {
    border-collapse: collapse; /* Prevent double borders */
}
caption {
    padding-top: var.$spacing*0.75;
    padding-bottom: var.$spacing*0.75;
    text-align: left;
}
th {
    /* Matches default `<td>` alignment by inheriting from the `<body>`, or the closest parent with a set `text-align`. */
    text-align: inherit;
}
/*
Forms
*/
label {
    display: inline-block;
}
input,
button,
select,
optgroup,
textarea {
    margin: 0; /* Remove the margin in Firefox and Safari */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,
input {
    overflow: visible; /* Show the overflow in Edge */
}
button,
select {
    text-transform: none; /* Remove the inheritance of text transform in Firefox */
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}
textarea {
    resize: vertical;
}
fieldset {
    min-width: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%; /* 1 */
    padding: 0;
    margin-bottom: var.$spacing/2;
    line-height: inherit;
    color: inherit; /* 2 */
    white-space: normal; /* 1 */
}
progress {
    vertical-align: baseline; /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
/*
Correct element displays
*/
output {
    display: inline-block;
}
summary {
    display: list-item; /* Add the correct display in all browsers */
}
[hidden],template {
    display: none !important;
}