@use '../global/vars';
@use '../global/extensions' as gxt;
@use 'extensions' as inxt;
@use 'sass:math';

.choice-input {
    $_gap:map-get(vars.$paddingSquare,'xs');
    flex-wrap: wrap;
    gap: $_gap;
    padding: $_gap;
    @extend %flex-1, %resetList;

    input {
        display: none;

        &:checked+label {
            @extend %color-primary;
        }
    }

    &:only-child {
        @extend %radiusDefault;
    }

    label {
        @extend %paddingY-md, %fullHeight, %flexible, %flexCenter, %flex-1, %radiusDefault;

        &:hover {
            @extend %cursorPointer, %shadow-sm;
        }
    }

    &-stretch>* {
        @extend %flex-1;
    }
}