.callout{
    border-left: 5px;
    border-left-style: solid;
}
.callout:not(.no-gaps){
    padding: var(--rem-md);
}
.callout-color-blue{
    background-color: rgba(51,153,255,.15);
    border-left-color: #39f;
}
.callout-color-yellow{
    background-color: rgba(249,177,21,.15);
    border-left-color: #f9b115;
}
.callout-color-red{
    background-color: rgba(229,83,83,.15);
    border-left-color: var(--red);
}
.callout-color-green{
    background-color: rgba(46,184,92,.15);
    border-left-color: #2eb85c;
}