.fixed-top-left,.fixed-top-right,.fixed-bottom-left,.fixed-bottom-right,.fixed-top-center,
.fixed-bottom-center,.fixed-center-left,.fixed-center-right,.fixed-center{
    position: fixed;
    z-index: 3;
}
.fixed-bottom-left,.fixed-bottom-right,.fixed-bottom-center{
    bottom: var(--rem-md);
}
.fixed-top-left,.fixed-top-right,.fixed-top-center{
    top: var(--rem-md);
}
.fixed-bottom-left,.fixed-top-left,.fixed-center-left{
    left: var(--rem-md);
}
.fixed-top-right,.fixed-bottom-right,.fixed-center-right{
    right: var(--rem-md);
}
.fixed-center-left,.fixed-center-right,.fixed-center{
    bottom: 50%;
}
.fixed-top-center,.fixed-bottom-center,.fixed-center{
    right: 50%;
}
.fixed-top-center,.fixed-bottom-center{
    transform: translateX(50%);
}
.fixed-center-left,.fixed-center-right{
    transform: translateY(50%);
}
.fixed-center{
    transform: translate(50%,50%);
}