.list{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    max-width: 100%;
}
.list-h{
    overflow-x: auto;
    display: flex;
}
.list-h.list-strech>*{
    flex: 1;
}
.list:not(.list-size-sm,.list-size-lg)>*{
    padding: var(--md-half) var(--rem-md);
}
.list-size-sm>*{
    padding: var(--md-quarter) var(--md-half);
}
.list-size-lg>*{
    padding: var(--rem-md) var(--md-2);
}
.list>a{
    color: inherit;
    text-decoration: none;
}
.list>*{
    display: block;
}
.list>a:hover{
    background-color: rgba(0,0,0,.2)!important;
}
.list-odd>:nth-of-type(2n+1),.list-even>:nth-of-type(2n){
    background-color: rgba(90,90,90,.2);
}
.list-bordered:not(.list-h)>:not(:first-child){
    border-top: var(--grey-border);
}
.list-bordered.list-h>:not(:last-child){
    border-right: var(--grey-border);
}