.row-stretch,.row-stretch>.col{
    height: 100%;
}
.row-borders>.col>*{
    border:var(--grey-border);
}
.row-wrap{
    flex-wrap: wrap;
}
.col-stretch{
    align-self: stretch;
}
.row{
    display: flex;
    flex-direction: column;
}
.row:not(.no-gaps){
    gap: var(--rem-md);
}
.row>.col{
    max-width: 100%;
}
.row>.col:not([class*=width-]){
    flex: 1;
}
.row:not(.no-gaps)>.col:not(.no-gaps)>:not(:last-child),
.row:not(.no-gaps,:last-child){
    margin-bottom: var(--rem-md);
}
@media (min-width: 768px) {
    .row{
        flex-direction: row;
    }
    .row:not(.row-col-stretch){
        align-items: flex-start;
    }
}