.tab{
    padding: 0;
    list-style: none;
    margin:0 0 var(--rem-md) 0;
    gap: calc(var(--rem-md) / 5);
}
.tab>*{
    transform: translate(0);
}
.tab-stretch>*{
    flex: 1;
}
.tab,.tab label{
    display: flex;
    justify-content: center;
}
.tab input{
    display: none;
}
.tab label{
    height: 100%;
    padding: 0 var(--rem-md);
    align-items: center;
}
.tab label:hover{
    cursor: pointer;
}
/*...........tab-type-1..........*/
.tab-type-1 input:checked+label{
    color: var(--theme-bg);
}
.tab-type-1 label:before{
    height: 0;
    bottom: 0;
}
.tab-type-1 label:before,.tab-type-2 label:before{
    left: 0;
    content: '';
    width: 100%;
    position: fixed;
}
.tab-type-1 input:checked+label:before,.tab-type-2 input:checked+label:before{
    height: 3px;
}
.tab-type-2 input:checked+label:before{
    background-color: white;
    bottom: -3px;
}
.tab-type-1,.tab-type-2{
    border-bottom: var(--grey-border);
}
.tab-type-2 label{
    border-radius: var(--md-quarter) var(--md-quarter) 0 0;
}
/*...........tab-type-2..........*/
.tab-type-2 input:checked+label{
    box-shadow: var(--shadow-sm);
}
.tab-type-2 input:not(:checked)+label{
    color:var(--theme-txt);
}
.tab-type-2 input:not(:checked)+label,.tab-type-1 label:before{
    background-color:var(--theme-bg);
}
/*...........tab-size............*/
.tab-size-xs{
    height: var(--rem-md);
}
.tab-size-sm{
    height: var(--size-sm);
}
.tab-size-md{
    height: var(--size-md);
}
.tab-size-lg{
    height: var(--size-lg);
}
.tab-size-xl{
    height: var(--size-xl);
}
@media (max-width:546px){
    .tab{
        overflow: auto hidden;
    }
}