@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;
@use '../utils/callables/functions' as fn;

.accordion {
    $_angle: 45deg;
    @extend %list_reset;
    @include ext.addBackground(var.$bg_color);

    &-title{
        @extend %padding_md, %position_relative;
        display: grid;
        font-weight: bold;
        align-items: center;
        cursor: pointer;
        &:hover{
            @extend %hover_color;
        }
        &:not(:only-child):before{
            right: var(--spacing);
            @extend %position_absolute;
            @include ext.createRightAngle(calc(var.$spacing/2),fn.px2rem(1px));
        }
    }
    &>*{
        display: grid;
        grid-template-rows: auto 0fr;
    }
    &>.active{
        grid-template-rows: auto 1fr;
    }
    &>.active>&-title:before{
        transform: rotate($_angle * 3);
    }
    &-body{
        @extend %overflow_hide;
    }
}