@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;
@use '../utils/callables/functions' as fn;

$_angle: 45deg;
.accordion {
    list-style-type: none;
    border: var(--thin-border);
    @extend %spacing_0;

    &.borders>:not(:first-child){
        border-top: var(--thin-border);
    }
    &-title{
        @extend %padding_md;
        display: grid;
        font-weight: bold;
        position: relative;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: var(--color-19);
        }
        &:before{
            content: '';
            right: var(--spacing);
            @extend %position_absolute;
            width: calc(var.$spacing/2);
            height: calc(var.$spacing/2);
            transform: rotate($_angle);
            border: fn.px2rem(1px) solid currentColor;
            border-left: transparent;
            border-bottom: transparent;
        }
    }
    &>:not(.active)>&-body{
        height: 0;
        overflow: hidden;
        @extend %padding_y;
    }
    &>.active>&-body{
        @extend %padding_xy;
        animation: fadeIn var.$animation_duration var.$animation_timing;
    }
}
.active>.accordion-title:before{
    transform: rotate($_angle * 3);
}