@use '../utils/callables/extensions' as ext;
@use '../utils/callables/functions' as fn;

.card {
    $card: &;
    display: flex;
    overflow: hidden;
    outline: var(--thin-border);
    border-radius: calc(var(--spacing)/3);
    @extend %full_height;
    &:not(&-dir-h){
        flex-flow: column;
    }
    &-body{
        flex: 1;
        overflow-y: auto;
        @extend %padding_xy;
        &>#{$card}-title{
            margin-bottom: var(--spacing);
        }
    }
    &-title{
        @extend %padding_xy;
        font-weight: bold;
    }
    &>img {
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}