@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;
@use '../utils/callables/functions' as fn;

.carousel {
    $square: fn.px2rem(30px);
    display: grid;
    gap: calc(var(--spacing)/2);
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: $square 1fr $square;
    @extend %full_size;
    &-body {
        border-radius: var(--radius-sm);
        @extend %full_height, %position_relative, %overflow_hide;
        &>* {
            top: 0;
            left: 0;
            list-style: none;
            background-color: var(--bg-color);
            @extend %full_size, %position_absolute;
            &.active{
                z-index: 1;
            }
            &:not(.active){
                opacity: 0;
            }
        }
    }
    &-next,&-prev{
        display: grid;
        height: $square;
        width: $square;
        cursor: pointer;
        align-items: center;
        justify-items: center;
        border: none;
        outline: var(--thin-border);
        background: var(--fg-color);
        @extend %round_corner;
        &:hover{
            @extend %hover_color;
        }
    }
    &-next:after{
        @include ext.createRightAngle(.6rem,fn.px2rem(2px));
    }
    &-prev:before{
        @include ext.createLeftAngle(.6rem,fn.px2rem(2px));
    }
}