@use '../utils/callables/extensions' as ext;

.card {
    $card: &;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border-radius: calc(var(--spacing)/2);
    &-sm>&-body{
        @extend %padding_xy_sm;
    }
    &-sm>&-title{
        @extend %padding_xy_sm;
    }
    &-md>&-body{
        @extend %padding_xy;
    }
    &-md>&-title{
        @extend %padding_xy;
    }
    &-body{
        text-align: justify;
    }
    &-title{
        font-weight: bold;
    }
    &>img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}