@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;
@use '../utils/callables/functions' as fn;

.carousel {
    display: flex;
    gap: calc(var(--spacing)/2);
    align-items: center;
    @extend %full_size;
    --speed: 5s;
    &-body {
        flex: 1;
        border-radius: var(--radius-sm);
        @extend %full_height, %position_relative, %overflow_hide;

        &>* {
            top: 0;
            left: 0;
            list-style: none;
            background-color: var(--bg-color);
            @extend %full_size, %position_absolute;
            &.active{
                z-index: 1;
                &:after{
                    animation: cl_timeout var(--speed) linear;
                }
            }
            &:not(.active){
                opacity: 0;
            }
            &:after{
                content: '';
                width: 100%;
                z-index: 1;
                bottom: 0;
                height:fn.px2rem(2px);
                background: var(--color-danger);
                @extend %position_absolute;
            }
        }
    }
    &-next,&-prev{
        $square: fn.px2rem(30px);
        display: grid;
        height: $square;
        width: $square;
        border: none;
        background: var(--fg-color);
        @extend %round_corner,%center_content;
        &:hover{
            @extend %hover_color;
        }
    }
    &-next:after{
        @include ext.createRightAngle(.6rem,fn.px2rem(2px));
    }
    &-prev:before{
        @include ext.createLeftAngle(.6rem,fn.px2rem(2px));
    }
}

@keyframes cl_timeout{
    to{
        width:0;
    }
}