@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;

.list {
    $list: &;
    display: grid;
    @include ext.addBackground(var.$bg_color);
    border-radius: var(--radius-sm);
    @extend %list_reset, %full_width, %overflow_hide;

    &:not(&-sm)>*{
        @extend %padding_md;
    }

    &-sm>*{
        @extend %padding_sm;
    }

    &>:hover:not(.active) {
        @extend %hover_color;
    }
    &>.active {
        @extend %accent_color;
    }
    &-title{
        display: block;
        font-weight: bold;
    }
    &-body{
        color: var(--font-grey);
        @extend %font_sm;
    }
    &-dir-h{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        #{$list}-title,#{$list}-body{
            text-align: center;
        }
        >*{
            display: block;
        }
        &.borders>:not(:last-child){
            border-right: var(--thin-border);
        }
    }
    &:not(&-dir-h){
        &.borders>:not(:first-child){
            border-top: var(--thin-border);
        }
    }
}