@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;

.list {
    $list: &;
    display: grid;
    overflow: hidden;
    border-radius: var(--radius-sm);
    @extend %list_reset, %full_width;

    &:not(&-sm)>*{
        @extend %padding_md;
    }

    &-sm>*{
        @extend %padding_sm;
    }

    &>:hover:not(.active) {
        background-color: var(--hover-color-2);
    }
    &>.active {
        @extend %theme_color;
    }
    &-title{
        display: block;
        font-weight: bold;
    }
    &-body{
        color: #333;
        @extend %font_sm;
    }
    &-dir-h{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        #{$list}-title,#{$list}-body{
            text-align: center;
        }
        >*{
            display: block;
        }
        &.borders>:not(:last-child){
            border-right: var(--thin-border);
        }
    }
    &:not(&-dir-h){
        &.borders>:not(:first-child){
            border-top: var(--thin-border);
        }
    }
}