@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;

.list {
    $list: &;
    display: grid;
    list-style-type: none;
    @extend %spacing_0, %full_width;

    &.size-md>*{
        @extend %padding_md;
    }

    &.size-sm>*{
        @extend %padding_sm, %font_sm;
    }

    &>:hover:not(.active) {
        background-color: var(--hover-color-2);
    }
    &>.active {
        @extend %theme_color;
    }
    &.dir-v{
        &.borders>:not(:first-child){
            border-top: var(--thin-border);
        }
        >*{
            display: block;
        }
    }
    &.dir-h{
        overflow: hidden;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        border-radius: var(--radius-sm);
        &.borders>:not(:last-child){
            border-right: var(--thin-border);
        }
        #{$list}-title{
            display: block;
            font-weight: bold;
            text-align: center;
        }
        #{$list}-body{
            color: #333;
            text-align: center;
            @extend %font_sm;
        }
    }
}