@use '../utils/callables/extensions';
@use '../utils/callables/variables' as var;

.modal{
    background-color: var(--bg-color);
    overflow: hidden;
    &-background{
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        @extend %full_size,%position_absolute;
        z-index: map-get(var.$z_index,md);
    }
    &-type{
        &-c{
            border-radius: var(--radius-sm);
            &.pos-c{
                animation: zoomIn var.$animation_duration var.$animation_timing;
            }
        }
        &-v{
            @extend %full_height;
            &.pos-r{
                animation: slideLeft var.$animation_duration var.$animation_timing;
            }
            &.pos-l{
                animation: slideRight var.$animation_duration var.$animation_timing;
            }
        }
        &-h{
            @extend %full_width;
            &.pos-t{
                animation: slideDown var.$animation_duration var.$animation_timing;
            }
            &.pos-b{
                animation: slideUp var.$animation_duration var.$animation_timing;
            }
        }
    }
}