@use '../utils/callables/extensions';
@use '../utils/callables/variables' as var;

.modal{
    box-shadow: map-get(var.$shadows,md);
    background-color: #fff;
    overflow: hidden;
    &-background{
        top: 0;
        background-color: rgba(0,0,0,0.8);
        @extend %full_size,%position_fixed;
        z-index: map-get(var.$z_index,md);
    }
    &-center{
        border-radius: map-get(var.$border_radius,xs);
    }
    &-v{
        @extend %full_height;
    }
    &-h{
        @extend %full_width;
    }
}