@use '../utils/mixins';
@use '../utils/variables' as var;
@use '../utils/animation' as ani;
.modal{
    box-shadow: map-get(var.$shadows,sm);
    background-color: #fff;
    position: fixed;
    &-background{
        top: 0;
        background-color: rgba(0,0,0, 0.6);
        @extend %full_size,%position_fixed;
        z-index: map-get(var.$z_index,md);
    }
    &-center{
        border-radius: map-get(var.$border_radius,xs);
    }
    &-vertical{
        height: 100%;
    }
    &-horizontal{
        width: 100%;
    }
    &-pos-bottom{
        bottom: 0;
    }
    &-pos-right{
        right: 0;
    }
    @each $key, $size in var.$breakpoints {
        @include mixins.media($size) {
            @for $col from 3 through 7 {
                &-center-#{$key}-#{$col - 2} {
                    @include mixins.dimension(var.$component_min_size * $col,true);
                }
                &-vertical-#{$key}-#{$col - 2} {
                    width: var.$component_min_size * ($col - 1);
                }
                &-horizontal-#{$key}-#{$col - 2} {
                    height: var.$component_min_size * ($col - 1);
                }
            }
        }
    }
}