@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
    overflow: auto;
    align-items: start;
}

.row {
    display: flex;
    row-gap: var(--spacing);
    &:not(&-no-gap){
        column-gap: var(--spacing);
    }
    &:not(&-nowrap){
        flex-direction: column;
    }
    &-nowrap{
        flex-direction: row;
    }
    &>.col{
        max-height: 100%;
    }
    &:not(:last-child){
        margin-bottom: var(--spacing);
    }
    &-stretch>.col:not([class*=width-]) {
        flex: 1;
    }

    @include ext.media(map-get(var.$breakpoints, md)) {
        &:not(&-nowrap){
            flex-direction: row;
        }
        &-no-gap>.col:not(:last-child){
            padding-right: var(--spacing);
        }
    }
}
