@use '../utils/callables/extensions' as ext;
@use '../utils/callables/variables' as var;

.row {
    display: flex;
    &:not(&-no-wrap){
        gap: var(--spacing) 0;
        flex-direction: column;
    }
    &>.col{
        max-height: 100%;
    }
    &-no-wrap{
        gap: 0 var(--spacing);
    }
    &:not(:last-child){
        margin-bottom: var(--spacing);
    }
    &:not(&-stretch)>.col:not([class*=width-]) {
        max-width: max-content;
    }
    &-stretch>.col:not([class*=width-]) {
        flex: 1;
    }

    @include ext.media(map-get(var.$breakpoints, md)) {
        &:not(&-no-wrap){
            flex-direction: row;
        }
        &:not(&-no-gap){
            gap: 0 var(--spacing);
        }
        &-no-gap>.col:not(:last-child){
            padding-right: var(--spacing);
        }
    }
}
