@use '../utils/callables/extensions';

.table {
    overflow: hidden;
    border-collapse: collapse;
    &-container {
        overflow-x: auto;
        >table{
            @extend %full_width;
        }
    }
    &.border-h {
        border: var(--thin-border);
        tr:not(:last-child) {
            border-bottom: var(--thin-border);
        }
    }
    &.border-v {
        border: var(--thin-border);
        td:not(:last-child), th:not(:last-child) {
            border-right: var(--thin-border);
        }
    }

    td,th {
        padding: calc(var(--spacing)/2) var(--spacing);
    }

    tr:hover {
        background-color: var(--hover-color-2);
    }
}