@use '../utils/callables/extensions';

.table {
    &-container {
        overflow-x: auto;
        >table{
            @extend %full_width;
        }
    }
    &.borders {
        tr:not(:last-child)>td,th {
            border-bottom: var(--thin-border);
        }
        td:not(:last-child) {
            border-right: var(--thin-border);
        }
    }

    td,th {
        padding: calc(var(--spacing)/2) var(--spacing);
    }

    tr:hover {
        background-color: var(--hover-color-2);
    }

    &.dir{
        &-h{
            tr:not(:hover):nth-of-type(2n) {
                background-color: var(--faint-bg);
            }
        }
        &-v{
            tr:not(:hover)>td:nth-of-type(2n+1) {
                background-color: var(--faint-bg);
            }
        }
    }
}