@use '../utils/callables/extensions';
@use '../utils/callables/functions' as fn;

$_thick_line: fn.px2rem(3px);
$_thin_line: fn.px2rem(1px);

%_border_right{
    border-right: var(--thin-border);
}
%_border_bottom{
    border-bottom: var(--thin-border);
}
%_flex_column{
    flex-direction: column;
}
%_tl_0{
    top: 0;
    left: 0;
}
%_tr_0{
    top: 0;
    right: 0;
}
%_bl_0{
    bottom: 0;
    left: 0;
}

.tab {
    $tab: &;
    display: grid;
    overflow: hidden;
    border-radius: var(--radius-sm);
    @extend %full_height;
    &-pos{
        &-t{
            grid-template-areas: "tm""tb";
            grid-template-rows: auto 1fr;
            >#{$tab}-menu>*{
                &:before{
                    @extend %full_width, %_tl_0;
                    height: $_thick_line;
                }
                &:after{
                    @extend %full_width, %_bl_0;
                    height: $_thin_line;
                }
                &:not(:last-child){
                    @extend %_border_right;
                }
            }
        }
        &-b{
            grid-template-areas: "tb""tm";
            grid-template-rows: 1fr auto;
            >#{$tab}-menu>*{
                &:before{
                    @extend %full_width, %_bl_0;
                    height: $_thick_line;
                }
                &:after{
                    @extend %full_width, %_tl_0;
                    height: $_thin_line;
                }
                &:not(:last-child){
                    @extend %_border_right;
                }
            }
        }
        &-l{
            grid-template-areas: "tm tb";
            grid-template-columns: auto 1fr;
            >#{$tab}-menu{
                @extend %_flex_column;
                >*{
                    &:before{
                        @extend %full_height, %_tl_0;
                        width: $_thick_line;
                    }
                    &:after{
                        @extend %full_height, %_tr_0;
                        width: $_thin_line;
                    }
                    &:not(:last-child){
                        @extend %_border_bottom;
                    }
                }
            }
        }
        &-r{
            grid-template-areas: "tb tm";
            grid-template-columns: 1fr auto;
            >#{$tab}-menu{
                @extend %_flex_column;
                >*{
                    &:before{
                        @extend %full_height, %_tr_0;
                        width: $_thick_line;
                    }
                    &:after{
                        @extend %full_height, %_tl_0;
                        width: $_thin_line;
                    }
                    &:not(:last-child){
                        @extend %_border_bottom;
                    }
                }
            }
        }
    }
    &-menu{
        grid-area: tm;
        &.menubar>* {
            &:before,&:after{
                content: '';
                @extend %position_absolute;
            }
            &.active,&:hover {
                color: var(--theme-color);
            }
            &.active{
                &:before{
                    background-color: var(--accent-color);
                }
            }
            &:not(.active){
                background-color: var(--fg-color);
                &:after{
                    background-color: var(--border-color);
                }
            }
        }
    }
    &-body{
        grid-area: tb;
        overflow-y: auto;
        @extend %padding_xy;
    }
}