@use '../utils/callables/functions' as fn;
@use '../utils/callables/extensions' as ext;

.avatar{
    font-weight: bold;
    display: inline-flex;
    vertical-align: middle;
    outline: fn.px2rem(2px) solid var(--bg-color);
    font-size: calc(var(--font-size) * 1.6);
    @extend %round_corner, %center_content, %overflow_hide;
    --size:2.5rem;
    width: var(--size);
    height: var(--size);
    &>img,&>picture{
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
    &:hover{
        text-decoration: none;
    }
    &-group{
        display: flex;
        align-items: center;
        &>:not(:first-child){
            margin-left: calc(var(--spacing) * -.5);
        }
        &>:hover{
            z-index: 1;
        }
    }
}