@use '../utils/callables/functions' as fn;
@use '../utils/callables/extensions' as ext;

.callout {
    font-style: italic;
    @extend %padding_xy,%margin_xy;
    border-radius: var(--radius-sm);
    outline: fn.px2rem(1px) dashed var(--primary-color);
    outline-offset: calc(var(--spacing)/2 * -1);
}