@use '../utils/callables/extensions' as ext;

.details{
    @extend %overflow_hide;
    outline: var(--thin-border);
    border-radius: var(--radius-sm);

    &-row{
        display: flex;
        flex-wrap: wrap;
        &>*{
            @extend %padding_md;
            outline: var(--thin-border);
        }
    }
    &-label{
        color: var(--text-muted);
        min-width: max-content;
        background-color: var(--fg-color);
    }
    &-desc{
        background-color: var(--bg-color);
        &:not([class*=width-]) {
            flex: 1;
        }
    }
}