@use '../utils/callables/extensions' as ext;

.details{
    overflow: hidden;
    outline: var(--thin-border);

    &-col{
        display: flex;
        flex-wrap: wrap;
        &>*{
            @extend %padding_md;
            outline: var(--thin-border);
        }
    }
    &-label{
        color: var(--font-grey);
        min-width: max-content;
        background-color: var(--faint-bg);
    }
    &-desc{
        background-color: var(--primary-color);
        &:not([class*=width-]) {
            flex: 1;
        }
    }
}