@use '../utils/callables/extensions' as ext;
@use '../utils/callables/functions' as fn;
@use '../utils/callables/variables' as var;

.dropdown{
    display: inline-block;
    @extend %position_relative;
    &-body{
        z-index: 1;
        min-width: max-content;
        @if(fn.isDarkColor(var.$bg_color)==false){
            @extend %box_shadow_sm;
        }
        @else{
            outline: var(--thin-border);
        }
        @extend %position_absolute,%full_width, %overflow_hide;
        border-radius: var(--radius-sm);
        background-color: var(--bg-color);
        &.pos{
            &-tl{
                inset: auto 0 100% auto;
            }
            &-bl{
                inset: auto 0 auto auto;
            }
            &-tr{
                inset: auto 0 100% 0;
            }
            &-br{
                inset: auto 0 auto 0;
            }
        }
    }
    &:not(:focus-within,:hover)>&-body {
        display: none;
    }
}