@use '../utils/callables/extensions';
@use '../utils/callables/functions' as fn;

.loader{
    $thickness: fn.px2rem(2px);
    $speed: .5s;
    &-spin{
        --loader-size: #{$thickness * 11};
        --loader-color: currentColor;
        --loader-thickness: #{$thickness};
        pointer-events: none;
        @extend %position_relative, %overflow_hide;
        &:before{
            inset: 0;
            content: '';
            z-index: 89;
            backdrop-filter:blur(fn.px2rem(4px));
            @extend %position_absolute;
        }
        &:after{
            content: '';
            z-index: 99;
            width: var(--loader-size);
            height: var(--loader-size);
            border: var(--loader-thickness) solid var(--loader-color);
            border-top-color: transparent;
            border-left-color: transparent;
            animation: spin $speed linear infinite;
            @extend %round_corner, %position_absolute, %position_center;
        }
    }
    &-bottom,&-top{
        --loader-size: 30%;
        --loader-color: currentColor;
        --loader-thickness: #{$thickness};
        @extend %position_relative, %overflow_hide;
        &:before{
            left: 0;
            content: '';
            width: var(--loader-size);
            margin-left: calc(var(--loader-size) * -1);
            animation: pg_move $speed linear infinite;
            height: var(--loader-thickness);
            background: var(--loader-color);
            @extend %position_absolute;
        }
    }
    &-bottom:before{
        bottom: 0;
    }
    &-top:before{
        top: 0;
    }
}
@keyframes pg_move{
    to{
        margin-left:100%;
    }
}