@use '../utils/callables/extensions' as ext;
@use '../utils/callables/functions' as fn;
@use '../utils/callables/variables' as var;

.media{
    @extend %full_size;
    &>img{
        aspect-ratio: 16/9;
        object-fit: cover;
        @extend %full_size;
    }
    &-caption{
        overflow-y: auto;
        @extend %padding_xy;
        color: #000;
        background-color: rgba(0,0,0,.25);
    }
}