@use '../utils/callables/extensions';

.media{
    @extend %full_size;
    &>img{
        aspect-ratio: 16/9;
        object-fit: cover;
        @extend %full_size;
    }
    &-caption{
        color: #000;
        overflow-y: auto;
        @extend %padding_xy;
        background-color: rgba(0,0,0,.25);
        &.pos-b,&.pos-t{
            max-height: 40%;
        }
        &.pos-r,&.pos-l{
            max-width: 40%;
            @extend %full_height;
        }
    }
}