@use '../utils/callables/extensions';

.menubar{
    display: flex;
    overflow-x: auto;
    @extend %full_height;
    &-hide-labels .menu-label{
        display: none;
    }
}

.menu-item {
    flex: 1;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    text-align: center;
    @extend %padding_md, %position_relative, %center_content;
    &:hover{
        text-decoration: none;
    }
    &-dir-h{
        column-gap: var(--spacing);
    }
    &-dir-v{
        flex-direction: column;
    }
}
a:not(.menu-item){
    color: var(--theme-color);
}