@use '../utils/callables/extensions';

.menubar{
    display: flex;
    overflow-x: auto;
    @extend %full_height;
    &-hide-labels .menu-label{
        display: none;
    }
}

.menu-item {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: inherit;
    @extend %padding_md, %position_relative, %center_content;
    &:hover{
        text-decoration: none;
    }
    &.active{
        cursor: default;
    }
    &:not(&-dir-v){
        column-gap: var(--spacing);
    }
    &-dir-v{
        flex-direction: column;
    }
}