@use '../utils/callables/extensions';

.menu-item {
    @extend %center_grid, %padding_md;
    &:hover{
        text-decoration: none;
    }
    &-dir{
        &-h{
            grid-template-columns: auto 1fr;
            gap:  var(--spacing);
        }
        &-v{
            grid-template-rows: auto 1fr;
        }
    }
    &>.size-md{
        font-size: calc(var(--font-size) * 1.5);
    }
    &>*{
        text-align: center;
    }
}