@use '../utils/callables/extensions';

.menu-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    @extend %padding_md;
    &:hover{
        text-decoration: none;
    }
    &.dir{
        &-h{
            gap: var(--spacing);
        }
        &-v{
            flex-direction: column;
        }
    }
}
a:not(.menu-item){
    color: var(--theme-color);
}