@use '../utils/callables/extensions';
@use '../utils/callables/variables' as var;
@use 'sass:map';


.pill{
    padding: calc(var(--spacing)/6) var(--spacing);
    border-radius: map.get(var.$border_radius,lg);
    background: var(--fg-color);
    color: var(--text-color);
    display: inline-block;
    @extend %font_sm;
}