@use '../utils/callables/extensions';
@use '../utils/callables/variables' as var;


.pill{
    padding: calc(var(--spacing)/6) var(--spacing);
    border-radius: map-get(var.$border_radius,lg);
    @extend %font_sm;
    &-group{
        overflow: hidden;
        display: inline-flex;
        border-radius: map-get(var.$border_radius,lg);
        &>*{
            border-radius: 0;
        }
    }
}