@use '../utils/callables/extensions';
@use '../utils/callables/functions' as fn;
@use '../utils/callables/variables' as var;

.progress{
    $progress: &;
    display: flex;
    align-items: center;
    background: var(--fg-color);
    @extend %font_sm, %position_relative;
    border-radius: map-get(var.$border_radius,lg);
    &:before{
        content: '';
        width: var(--progress);
        background-color: var(--color);
        border-radius: inherit;
    }
    &-bar{
        --size:calc(var(--spacing)*2.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:not(.loader){
            #{$progress}{
                --color: var(--accent-color);
            }
            height: var(--size);
            &>:after{
                display: flex;
                width: var(--size);
                height: var(--size);
                animation: pg_after .8s;
                background: var(--bg-color);
                content: attr(data-value,'0%');
                border: fn.px2rem(2px) solid var(--color);
                left: max(0%,calc(var(--progress) - var(--size)));
                @extend %position_absolute, %center_content, %round_corner, %overflow_hide;
            }
            &>:before{
                animation: pg_before .8s;
                height: calc(var(--spacing)/2);
            }
        }
        &.loader{
            #{$progress}{
                --color:red;
                --progress: 20%;
            }
            top: 0;
            @extend %position_absolute, %full_width;
            &>:before{
                height: calc(var(--spacing)/4);
                margin-left: calc(var(--progress) * -1);
                animation: pg_move .6s ease-in-out infinite;
            }
        }
    }
    &-circle{
        --size:#{fn.px2rem(40px)};
        --color: var(--accent-color);
        width: var(--size);
        height: var(--size);
        padding: calc(var(--spacing)/2);
        background: conic-gradient(var(--color) var(--progress,0),var(--fg-color) 0);
        @extend %round_corner;
        &:before{
            display: flex;
            border-radius: inherit;
            content: attr(data-value,'0%');
            background-color: var(--bg-color);
            @extend %full_size, %center_content;
        }
    }
}
@keyframes pg_move{
    100%{
        margin-left:100%;
    }
}
@keyframes pg_before{
    0%{
        width:0;
    }
    100%{
        width:var(--progress);
    }
}
@keyframes pg_after{
    0%{
        left: 0;
    }
    100%{
        left: max(0%,calc(var(--progress) - var(--size)));
    }
}