@use '../utils/callables/extensions';
@use '../utils/callables/functions' as fn;

.spinner{
    @extend %full_size, %position_absolute, %center_grid;
    top: 0;
    left: 0;
    --size: 2.5rem;
    &:before{
        content: '';
        width: var(--size);
        height: var(--size);
        border: fn.px2rem(4px) solid var(--accent-color);
        border-top-color: transparent;
        border-left-color: transparent;
        animation: spin .4s linear infinite;
        @extend %round_corner;
    }
}