@use '../utils/callables/extensions' as ext;
@use '../utils/callables/functions' as fn;
@use '../utils/callables/variables' as var;

.step{
    $_line_width: fn.px2rem(2px);
    border-radius: var(--radius-sm);
    --size: calc(var(--spacing) * 2.5);
    @include ext.addBackground(var.$bg_color);

    text-align: center;
    counter-reset: num;
    @extend %list_reset;

    &:not(&-dir-v) {
        display: flex;
        overflow-x: auto;
        &>* {
            flex: 1;
            flex-direction: column;
            align-items: center;
            @extend %padding_xy;
        }
        &>:before {
            margin-bottom: var(--spacing);
        }
        &>:not(:last-child):after{
            height: $_line_width;
            top: calc(var(--size)/1.1 - $_line_width);
            left: calc(50% + var(--size)/2);
            width: calc(100% - var(--size));
        }
    }

    &>:before {
        display: flex;
        counter-increment: num;
        content: counter(num, decimal);
        width: var(--size);
        height: var(--size);
        font-size: calc(var(--font-size) * 1.6);
        outline-offset: -$_line_width;
        @extend %round_corner, %center_content;
    }
    &>:not(:last-child):after{
        content:'';
        @extend %position_absolute;
    }
    &-active:before{
        @extend %accent_color;
    }
    &-complete{
        &:before{
            outline: $_line_width solid var(--accent-color);
        }
        &:after{
            background-color: var(--accent-color);
        }
    }
    &>:not(&-complete):after{
        background-color: var(--color-18);
    }
    &>:not(&-active, &-complete) {
        color: var(--text-muted);
        &:before {
            background-color: var(--color-18);
        }
    }
    &>* {
        display: flex;
        @extend %position_relative;
    }
}