@use '../utils/callables/extensions';
@use '../utils/callables/functions' as fn;
@use '../utils/callables/variables' as var;

.toast{
    z-index: map-get(var.$z_index,lg);
    @extend %position_fixed,%box_shadow;
    border-radius: map-get(var.$border_radius,xs);
    overflow-y: auto;
    max-height: 30%;
}
