@use '../utils/callables/extensions';
@use '../utils/callables/functions' as fn;
@use '../utils/callables/variables' as var;

.toast{
    z-index: map-get(var.$z_index,lg);
    @extend %position_fixed;
    border-radius: map-get(var.$border_radius,xs);
    box-shadow: fn.boxShadow(var.$shadow_color);
    overflow-y: auto;
    max-height: 30%;
}
